
<div class="row">
  <div class="col-md-12" id="aloha">
    <p id="index-title">AlohaWiki</p>
    <p id="sub-index-title">Your Resource for all things Hawaii</p>
    <div class="col-md-12" id="center-bn">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          Get Started <span class="caret"></span>
        </button>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Create a Wiki", new_wiki_path %></li>
            <li><%= link_to "Wiki's", wikis_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Sign In", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_session_path %></li>
          </ul>
       </div>
    </div>
  </div>
</div>
</div>
</div>
</body>
<br>
<div class = "container">
  <div class="row">
    <div class="col-md-4" id="subbox">
      <h3>Latest Wiki's</h3>
    </div>
    <div class="col-md-4" id="subbox">
      <span class="glyphicon glyphicon-search"></span>
    </div>
    <div class="col-md-4" id="subbox">
      <h3>Placeholder</h3>
    </div>
  </div>



  