<h1>All Wiki's</h1>
<div class="row">
  <div class="col-md-8">
    <% @wikis.each do |wik| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <% if wik.title? %>
            <%= image_tag(wik.image.thumb.url) %>
            <% end %>
            <%= link_to wik.title, wik %>
          </h4>
        </div>
      </div>
      <% end %>
      <%= will_paginate @wikis %>
    </div>
  
    <div class="col-md-4">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          Action <span class="caret"></span>
        </button>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "New Wiki", new_wiki_path%></li>
            <li class="divider"></li>
          </ul>
    </div>
  </div>
