// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#aloha{
  margin-top: 100px;

}
p#index-title {
    text-align: center;
    color: white;
    font-size: 150px;
    
}
p#sub-index-title {
  text-align: center;
  color: white;
  font-size: 15px;
}

#center-bn{
  text-align: center;
}
