// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: url("http://static.hdw.eweb4.com/media/wallpapers_dl/1/114/1130608-waikiki-hawaii.jpg");
 }

#aloha{
  margin-top: 100px;

}
p#index-title {
    text-align: center;
    color: white;
    font-size: 50px;
    
}
p#sub-index-title {
  text-align: center;
  color: white;
  font-size: 15px;
}
