<div class="row">
  <div class="col-md-8">
    <h2> Why Upgrade to Premium? </h2>
    <br>
    <h3>See all the latest private Wiki's.</h3>
    <h3>Create your own private Wiki's that only Premium Members can see.</h3>
    <h3>Feel happy, Just really happy.</h3>
    <br>
  </div>
  <div class="col-md-4">
    <%= render partial: 'form' %>
</div>
</div>